@import url("header.css");
@import url("main.css");
@import url("footer.css");

.background {
  background-color: #D9DAF0;
  width: 100%;
  margin: 0;
  padding: 0;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}
