/* Импорт шрифта */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Глобальные стили для всей странички */
body {
  max-width: 1440px;
  margin: 0 auto; /* Центрируем содержимое страницы */
  padding: 0; /* Убираем внутренние отступы */
  font-family: 'Nunito', Arial, sans-serif; /* Основной шрифт сайта */
  background-color: #0E0E0E; /* Фон сайта — тёмно-серый */
  color: #ffffff; /* Цвет текста — белый */
  line-height: 1.6; /* Межстрочный интервал для удобства чтения */
  -webkit-font-smoothing: antialiased; /* Улучшение сглаживания шрифтов в браузерах на основе WebKit */
  -moz-osx-font-smoothing: grayscale; /* Улучшение сглаживания шрифтов для macOS */
}

a {
  text-decoration: none; /* Убираем подчёркивание у ссылок */
  color: inherit; /* Наследуем цвет текста для ссылок */
}

img {
  max-width: 100%; /* Изображение не превышает ширину контейнера */
  height: auto; /* Сохраняем пропорции изображения */
  display: block; /* Убираем нижний отступ у изображений, свойственный inline-элементам */
}

ul, ol {
  list-style: none; /* Убираем маркеры у списков */
  margin: 0; /* Убираем внешние отступы */
  padding: 0; /* Убираем внутренние отступы */
}

/* Утилитарные классы */

/* Контейнер для центрирования содержимого */
.container {
  margin: 0 auto; /* Центрируем контейнер */
}

/* Универсальный flex-контейнер */
.flex {
  display: flex; /* Включаем режим flexbox */
  align-items: center; /* Вертикальное выравнивание по центру */
  justify-content: center; /* Горизонтальное выравнивание по центру */
}

/* Центрирование текста */
.text-center {
  text-align: center; /* Выравнивание текста по центру */
}

/* Глобальные переходы и базовые стили для всех элементов */
* {
  box-sizing: border-box; /* Включаем расчет размеров элементов с учетом внутренних и внешних отступов */
  transition: all 0.3s ease-in-out; /* Глобальная анимация для плавного изменения любых свойств */
}
